.business-proposition {
    div {
      flex: 1;
    }
  
    ol {
      flex: 2;
      padding: 1rem;
      background-color: $brand_primary;
      border-radius: 3rem;
  
      li {
        padding-top: 5rem;
        h3 {
          margin: 2rem 2rem 0;
          color: $brand_secondary;
          position: relative;
          
          &::before{
            top: -4rem;
            left: 0;
            right: 0;
          }
        }
  
        p {
          margin: 0.5rem 2rem 1.5rem;
        }
      }
    }
  }

@include mq(em(1000)) {
    .business-proposition {
      display: flex;
      align-items: center;
      gap: 6rem;

      ol {
        padding: 2rem 3rem 2rem 8rem;
        padding-left: 5rem;
      }
    }
  }