.cookies {
    margin-bottom: 5rem;

    li.product_cat-cookies {
        position: relative;
        margin-top: 4rem;

        @include mq(em(850)) {
            margin-top: 5rem;
        }

        @include mq(em(1000)) {
            margin-top: 6rem;
        }
    }

    .product_cat-cookies h3 {
        position: absolute;
        top: -3.125rem;
        left: 0;
        right: 0;

        @include mq(em(550)) {
            top: -4.125rem;
        }

        @include mq(em(587)) {
            top: -3rem;
        }

        @include mq(em(675)) {
            top: -3.25rem;
        }

        @include mq(em(900)) {
            top: -3.75rem;
        }

        @include mq(em(1000)) {
            top: -3rem;
        }

        @include mq(em(1200)) {
            top: -3.5rem;
        }
    }

    svg.cookie text {
        font-family: $font__subheader;
        font-size: 2rem;
        font-weight: 700;
    }

    svg.cookie {
        width: 75%;
        height: auto;
        overflow: hidden;

        @include mq(em(675)) {
            width: 70%;
        }

        @include mq(em(1200)) {
            width: 80%;
        }
    }

    .product_cat-cookies a img {
        width: 60%;
        height: auto;

        @include mq(em(675)) {
            width: 55%;
        }

        @include mq(em(1200)) {
            width: 65%;
        }
    }

    .product_cat-cookies a {
        img {
            scale: 1;
            transition: scale 400ms ease-in-out;

            @media screen and (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        svg.cookie {
            rotate: 0;
            transition: rotate 400ms ease-in-out;

            @media screen and (prefers-reduced-motion: reduce) {
                transition: none;
            }
        }

        &:hover {
            img {
                scale: 1.05;
            }

            svg.cookie {
                rotate: 360deg; 

                @media screen and (prefers-reduced-motion: reduce) {
                    rotate: 15deg;
                }
            }
        }
    }
}