header.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient( 
        to bottom,
        $brand_primary,
        $brand_primary 85%,
        $color__background-body 85%,
        $color__background-body
    );
    padding: 1rem 2rem;
    margin-bottom: 3rem;

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        img.custom-logo {
        max-height: 25vh;
        max-width: 80%;
        object-fit: cover;
        object-position: center;
        }
    }
}