body .site header.site-header {
    background: $brand_primary;
    height: 4rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    
    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        
        .site-branding {
            display: flex;
            align-items: center;
            
            .custom-logo-link {
                opacity: 0;
                transition: opacity 200ms ease-in-out 100ms;
                width: 4.5rem;
                height: 4rem;
                display: flex;
                align-items: center;

                @media screen and (prefers-reduced-motion: reduce) {
                    transition: none;
                }

                img.custom-logo {
                height: auto;
                width: 4rem;
                margin: 0 0.5rem;
                }
            }

            
        }

    }
    
    &.scrolled div .site-branding .custom-logo-link {
        opacity: 100;
    }
}

.admin-bar {
    header.site-header {
        position: relative;
    }
}