ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

ol > li::marker {
	font-family: $font__header;
	font-size: 2rem;
	color: $color__background-body;
	padding-right: 3rem;
}

li {
	position: relative;
}

ol li h3::before {
	content:counter(list-item);
	font-family: $font__header;
	font-weight: 400;
	font-size: 1.75rem;
	background-color: $brand_dark;
	color: $brand_light;
	position: absolute;
	left: -4rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 3rem;
	width: 2.75rem;
	height: 2.75rem;
}