$brand_dark: #1C1009;
$brand_light: #fffdf8;
$brand_primary: #ffd230;

$brand_secondary: #723f18;
$brand_tertiary: #ce631a;
$brand_tertiary_alt: #e4772e;
$brand_accent: #7f120a;
$brand_accent_alt: #65110c;


$color__background-body: $brand_light;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: $brand_primary;
$color__background-button-hover: $brand_tertiary_alt; 
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: $brand_secondary;
$color__text-input-focus: $brand_dark;
$color__link: $brand_accent;
$color__link-visited: $brand_accent_alt;
$color__link-hover: $brand_tertiary;
$color__text-main: $brand_dark;

$color__border-button: $brand_tertiary;
$color__border-button-hover: $brand_tertiary;
$color__border-button-focus: $brand_accent;
$color__border-input: $brand_tertiary;
$color__border-abbr: $brand_tertiary;
